.project
.couchapprc
*.swp
*.tmp
.DS_store
*.apk
*.ap_
*.log
*.dex
*.class
bin/
gen/
local.properties
build.properties
Android-Couchbase-Callback/assets/tangerine.couch
Android-Couchbase-Callback/assets/class.couch
dist
Junked
node_modules
app/couchapprc.sample